{% assign size_guide_tag_prefix = 'size-guide-' %}
{% for tag in product.tags %}
  {% if tag contains size_guide_tag_prefix %}
    {% assign size_guide = tag | replace: size_guide_tag_prefix, '' %}
    {% assign size_guide_image_id = size_guide | append: '-size-guide.jpg' %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="product-tabs">
  <ul class="product-tabs__tab-nav">
    <li class="product-tabs__tab-nav__link active" data-target="#product-tab-1">Information</li>
    <li class="product-tabs__tab-nav__link" data-target="#product-tab-2">Sizing</li>
    {% if settings.product_shipping_info != "" %}
    <li class="product-tabs__tab-nav__link" data-target="#product-tab-3">Shipping</li>
    {% endif %}
  </ul>

  <div class="product-tabs__tabs">
    <div id="product-tab-1" class="product-tabs__tabs__tab">
      {{ product.description }}
    </div>

    <div id="product-tab-2" class="product-tabs__tab-content">
      {% if size_guide %}
      <a class="product-tabs__image-thumb" href="{{ size_guide_image_id | asset_img_url: 'original' }}"><img src="{{ size_guide_image_id | asset_img_url: '400x' }}" alt=""/></a>
      {% else %}
      <p>There is no size guide available for this product.</p>
      {% endif %}
    </div>

    {% if settings.product_shipping_info != "" %}
    <div id="product-tab-3" class="product-tabs__tab-content">
      {{ settings.product_shipping_info }}
    </div>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".product-tabs__image-thumb").fancybox()

    $('.product-tabs__tab-nav__link').on('click', function() {
      var $tabNav = $('.product-tabs__tab-nav')
      var $target = $($(this).data('target'))
      var $tabWrapper = $('.product-tabs__tabs')
      $tabNav.children().removeClass('active')
      $(this).addClass('active')
      $tabWrapper.children().hide()
      $target.show()
    })
  })
</script>
