<div class="section-title desktop-12 mobile-3">
  <h1>{{ page.title }}</h1>
</div>

<div class="{% if settings.pagelist == '' %}desktop-12 tablet-6 mobile-3{% else %}desktop-9 tablet-4 mobile-3{% endif %}">
  <div class="rte">
    <div class="faqs">
      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">How long will it take to receive my order?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Delivery for your order can be anticipated one week from purchase date - this time includes order processing and shipping time. If your order has not been delivered in this time frame send us an email to help@discountuniverse.com stating your order number and we will find out the status of your parcel.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you have express shipping?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Yes! Our standard form of shipping is actually an express service. We ship all orders with DHL Worldwide Express, which normally delivers 3-5 days from shipment date.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you have same day or overnight shipping?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>No unfortunately not. This is something we would love to do so are working towards offering this delivery service in the not too distant future. Our standard form of shipping (DHL) is the fastest service available from our shipping warehouse.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">What are your shipping rates?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>$20USD for the first item and $10USD for every subsequent item. The Studded Jackets are $40 USD flat rate to ship globally - but no other product is priced above the $20/$10 flat rate 1 item = $20 USD 2 items = $30 USD 3 items = $40 USD 4 items = $50 USD etc… (not including the Studded Jackets)</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you ship worldwide?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Yes we do. Special Shipping Instructions for Russia : We are unable to ship to residential addresses in Russia, please provide us with a business address (with company name) for this location. Which shipping courier will deliver my order? DHL Worldwide Express will deliver all orders.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">How do I track my order?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Once your order has been shipped you should receive an email from us with full tracking details and a delivery estimate for your order. If you do not receive this within 72 hours of purchasing please send us an email to help@discountuniverse.com and we will resend tracking details and locate your parcel.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I change the address of my order ?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Please email us immediately if you need to change your address - we can definitely change it before the item has been shipped. If we do not receive your alternative address for a couple days after the order has been shipped we can notify DHL of the address change but cannot guarantee delivery to the new address – we will do our best to assist where possible.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I ship to a PO Box or Parcel Locker?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Unfortunately not. DHL will not accept a parcel that contains a PO Box or Parcel Locker as the delivery address. If we see that your order has this type of delivery address we will email you and hold the shipment until we receive an alternative address.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Will I have to pay import tax on my order?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We cannot anticipate taxes applied by overseas Customs Offices. Any additional taxes, fees, tariffs, import duties and surcharges levied by destination countries are the sole responsibility of the customer. DU cannot determine the amount, if any, that will be charged so please check with Customs in your country to ascertain any additional charges prior to purchase. Please be aware that this is a legal requirement out of our control. If you refuse to pay the customs of your country it will be returned to us at our expense and we will be forced to charge you the return fees from the refund of the original purchase price.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I cancel my order?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>No unfortunately not as we endeavour to process and ship all order within 24 hours of receiving payment. Please make a conscious decision when ordering.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I change my order?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>If your order has not been shipped we can normally change your order. Please email us at help@discountuniverse.com as soon as possible with how you would like to edit the order and we will do our best to assist where possible.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">The checkout won’t process my order. Help me!</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We’re sorry to hear this! Please try one more time through a different web browser (Chrome, Firefox, etc.). If this still doesn’t work please send us an email at help@discountunivere.com with the below details and we will be able to process a manual invoice through Paypal for the purchase.
          <ol>
            <li>
              Item to be purchased
                - style name
                - colour
                - size
            </li>
            <li>email address connected to your Paypal account</li>
            <li>delivery address for your order</li>
            <li>phone number to aid DHL with delivery</li>
          </ol>
        </p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I pay with Credit Card?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Yes, you sure can!, Pleased proceed through the checkout to payment with Paypal. At the Paypal login page it will provide the option to check out with a credit card as a ‘Paypal Guest’, please fill in details as normal and Paypal with charge your credit card. If your credit card is linked to your Paypal you can also log into your Paypal account and choose the specific card you would like to use as the form of payment.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">I don’t have a Paypal account can I still purchase from discountuniverse.com?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Yes, of course! Enter your shipping and billing addresses as normal. Then hit the ‘Complete Payment’ button which will bring up the Paypal login details. Below the box to input Paypal account details will be a link to pay with Credit/Debit Card details. Proceed through this payment option as a Paypal Guest until the purchase has been made and the order is complete.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">What is the currency conversion rate for non USD orders?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We use USD as the standardised form of currency throughout discountuniverse.com.</p>

        <p>All international prices are based off the USD exchange rate and determined/listed by Paypal dependent on the current exchange rate for each specific currency.</p>

        <p>The USD price of each item won’t change but the international currency price will fluctuate accordingly.</p>

        <p>Please note that Paypal will display the total purchase price in USD at the time of checkout as this is the store’s standard currency. Paypal will then charge you your chosen currency to your card or Paypal account once the transaction has been completed.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">What is your returns policy?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We are able to accept returns for exchange or store credit but unfortunately not a refund. If you would like to complete a return please send us an email within 3 days of receiving delivery from DHL with all details (order name, order #, garment to be returned, store credit or exchange?) to help@discountuniverse.com. We will then respond with authorisation to complete the return, the address to send the garment/s back too + all details you need to know about the returns process.</p>

        <p>Once we send this authorisation we require the return sent back to us in 5 business days with tracking receipt emailed to us for confirmation. If the return is sent after 5 business days we will not be able to accept the return. Please note that all shipping fees that are incurred from the returns process must be covered by the customer, as they are external costs and not included in our garment pricing.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I return Underwear/Swimwear + what other items am I not able to return?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Please choose Underwear, Pierced Jewellery and all Head wear (Hats etc.) carefully as we are unable to complete any returns on these items due to health standards DU abides by. We are happy to assist with sizing and garment details pre-purchase to eliminate the need for returns of these items.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Can I return my order for a refund?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Unfortunately not – please make a conscious decision when ordering. Send us an email if you are not 100% happy and we will help find the right DU item for you to exchange to.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">When and how often do you restock items?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>All DU products are produced in limited edition runs and so we cannot guarantee that any garments will be restocked once sold out. If you love something make sure to order to avoid missing out </p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you complete pre-orders?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>At this point in time we are unable to complete pre-orders. Send us an email with details of the item you are interested in ordering in case we have something about to drop that is very similar.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">What size am I?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Check out our size chart here : <a href="https://discountuniverse.com/pages/sizing-chart">https://discountuniverse.com/pages/sizing-chart</a></p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Who are your stockists + who can I contact for wholesale opportunities?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>DU products are available for sale solely from discountuniverse.com If you would like to stock DU at your store please send us an email to <a href="mailto:press@discountuniverse.com">press@discountuniverse.com</a> with full details and we will be in touch once the opportunity to work together arises.</p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you complete brand collaborations?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We’d love to hear from you! Please send us an email to <a href="mailto:press@discountuniverse.com">press@discountuniverse.com</a></p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Do you have an internship program?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>We are always on the look our exceptional Interns, please send us your CV + a link/example of your work to <a href="mailto:press@discountuniverse.com">press@discountuniverse.com</a></p>
      </div>
      <div class="faq__divider"></div>

      <div class="faq__question" data-accordian-toggle><span class="faq__question__text">Where are your products produced?</span><span class="chevron"></span></div>
      <div class="faq__answer" data-accordian-content>
        <p>Our garments are produced by a team of talented artisans in Indonesia that we have been working closely with for many years.</p>
      </div>
    </div>
  </div>
</div>
